pytest
bzip2==1.0.8
certifi
charset-normalizer==2.1.1
colorama==0.4.6
fire==0.4.0
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
libffi==3.4.2
libsqlite==3.40.0
libzlib==1.2.13
line-profiler==4.0.2
lmdb==1.4.0
MarkupSafe==2.1.1
numpy==1.23.5
opencv-contrib-python==4.6.0.66
opencv-python-headless==4.6.0.66
openss1==3.0.7
pandas==1.5.2
Pillow==9.3.0
pip==22.3.1
protobuf==3.20.1
psutil==5.9.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
requests==2.28.1
scikit-learn==1.2.0
scipy==1.9.3
setuptools==65.5.1
six==1.16.0
tensorboardX==2.5.1
termcolor==2.1.1
threadpoolctl==3.1.0
tk==8.6.12
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0
tqdm==4.64.1
typing_extensions==4.4.0
ucrt==10.0.22621.0
urllib3==1.26.13
vc==14.3
vs2015_runtime==14.32.31332
wheel==0.38.4
xz==5.2.6
